 @font-face {
    font-family: DejaVuMono;
    src: url(/font/dejavumono);
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-rows: 8.5% auto;
    grid-template-columns: minmax(10em, 14em) minmax(50em, 3000em);
    /*                    1   2     3   */

    font-family: "DejaVuMono";
    /*background-color: #b4e800;*/
    /*background-color: #abc5ff;*/
    background-color: white;
    margin: 0;

    font-size: 12pt;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 4% 10%;

    /*background-color: #f37000*/
    /*background-color: #009b7d*/
    background-color: #0437ab;
}

.title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.title h1 {
    margin-left: 0.9em;
    margin-right: 1em;
    margin-top: 0.65em;
    margin-bottom: 0.65em;
    color: white;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    color: white;
    /*background-color: #6795ff;*/
    background-color: rgba(0, 0, 0, 0.7);
}

.header .userImg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    margin-top: 1em;
    margin-right: 1em;

    color: white;
}

.header .userName {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    margin-top: 2em;
    margin-left: 0.5em;

    color: white;
}

.timer {
    color: white;
    font-size: 22pt;

    margin-left: 1em;
}

.problemBox {
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto;
    /*                 1   2    3    4*/

    font-size: 12pt;

    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 1.5em;

    border-top: 1em;
    border-bottom: 1em;

    /*border: solid grey 1px;*/
    padding: 1.2em;
    padding-left: 0.6em;
}

.problemTitle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    font-weight: 800;
    /*color: black;*/
}

.problemScore {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.link {
    color: rgb(50, 50, 50);
    /*text-decoration: none !important;*/
}

.statementLink {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-right: 9em;

    font-weight: 100;
    font-size: 10pt;
}

.submissionLink {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    font-weight: 100;
    font-size: 10pt;

    margin-bottom: 0.2em;
    margin-right: 6em;
}

.alert {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.hide {
    display: none;
}

.openProblem {
    margin-right: 0em;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.greenScore {
    /*background: green;*/
    background: rgba(0, 255, 0, 0.75);
}

.orangeScore {
    /*background: orange;*/
    background: rgba(255, 180, 0, 1);
}

.redScore {
    /*background: red;*/
    background: rgba(255, 40, 0, 0.85);
    color: white;
}

.content {
    padding: 2em;
    padding-right: 3em;
}

.problemTitle {
    margin-top: 0;
}

.stuff {
    background-color: purple;
    color: white;
    padding: 3em;
}