@font-face {
    font-family: DejaVuMono;
    src: url(/font/dejavumono);
}


/*http://google.github.io/material-design-icons/*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-rows: 8.5% auto;
    grid-template-columns: minmax(10em, 14em) minmax(50em, 3000em);
    /*                    1   2     3   */

    font-family: "DejaVuMono";
    /*background-color: #b4e800;*/
    /*background-color: #abc5ff;*/
    background-color: white;
    margin: 0;

    font-size: 12pt;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 4% 10%;

    /*background-color: #f37000*/
    /*background-color: #009b7d*/
    /*background-color: #0437ab;*/
    background-color: #0D6C7D;
}

.title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.title h1 {
    margin-left: 0.9em;
    margin-right: 1em;
    margin-top: 0.65em;
    margin-bottom: 0.65em;
    color: white;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    color: white;
    /*background-color: #6795ff;*/
    background-color: rgba(0, 0, 0, 0.7);
}

.header .userImg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    margin-top: 1em;
    margin-right: 1em;

    color: white;
}

.header .userName {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    margin-top: 2em;
    margin-left: 0.5em;

    color: white;
}

.timer {
    color: white;
    font-size: 22pt;

    margin-left: 1em;
}

.problemBox {
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto;
    /*                 1   2    3    4*/

    font-size: 12pt;

    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 1.5em;

    border-top: 1em;
    border-bottom: 1em;

    /*border: solid grey 1px;*/
    padding: 1.2em;
    padding-left: 0.6em;
}

.problemTitle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    font-weight: 800;
    /*color: black;*/
}

.problemScore {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.link {
    color: rgb(50, 50, 50);
    /*text-decoration: none !important;*/
}

.statementLink {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-right: 9em;

    font-weight: 100;
    font-size: 10pt;
}

.submissionLink {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    font-weight: 100;
    font-size: 10pt;

    margin-bottom: 0.2em;
    margin-right: 6em;
}

.alert {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.hide {
    display: none;
}

.openProblem {
    margin-right: 0em;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.greenScore {
    /*background: green;*/
    /*background: rgba(0, 255, 0, 0.75);*/
    background: #5ecc00;
}

.orangeScore {
    /*background: orange;*/
    /*background: rgba(255, 180, 0, 1);*/
    background: #E69E32;
}

.redScore {
    /*background: red;*/
    /*background: rgba(255, 40, 0, 0.85);*/
    background: #bd3030;
}

.content {
    padding: 2em;
    padding-right: 3em;
}

.problemTitle {
    margin-top: 0;
}

.stuff {
    background-color: purple;
    color: white;
    padding: 3em;
}